<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commandotech.tercochistusveritaquevia">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/themeAparecida">
        <activity
            android:name="com.commandotech.tercochistusveritaquevia.Activity.SobreActivity"
            android:exported="false" />
        <activity
            android:name="com.commandotech.tercochistusveritaquevia.Activity.CarpeDiemActivity"
            android:exported="false" />
        <activity
            android:name="com.commandotech.tercochistusveritaquevia.Activity.SantaActivity"
            android:exported="true" />
        <activity
            android:name="com.commandotech.tercochistusveritaquevia.Activity.MensagemActivity"
            android:exported="true" />
        <activity
            android:name="com.commandotech.tercochistusveritaquevia.Activity.SalveRainhaActivity"
            android:exported="true" />
        <activity
            android:name="com.commandotech.tercochistusveritaquevia.Activity.AgradecimentoActivity"
            android:exported="true" />
        <activity
            android:name="com.commandotech.tercochistusveritaquevia.Activity.TercoActivity"
            android:exported="true" />
        <activity
            android:name="com.commandotech.tercochistusveritaquevia.Activity.OferecimentoActivity"
            android:exported="true" />
        <activity
            android:name="com.commandotech.tercochistusveritaquevia.Activity.SplashScreenActivity"
            android:exported="true"> <!-- <activity android:name=".Activity.SplashScreenActivity" /> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>